
.Input {
    display: block;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    display: block;
    width: 100%;
    height: 35px;
    outline: none;
    border: 1px solid var(--clr-border);
    background-color: var(--clr-primary-2);
    color: var(--clr-primary-font-1);
    font: inherit;
    padding: 6px 10px;
    box-sizing: border-box;

}

.InputElement:focus {
    outline: none;   
    background-color: var(--clr-primary-1);
    color: var(--clr-primary-font-3);
    height: 70px;
    font-size: 3rem;
}


.Invalid {
    border: 1px solid red;
    background-color: salmon;
}