/*
=============== 
Variables
===============
*/

:root {
  /* primary/background color*/
  --clr-primary-1: rgb(0, 0, 0);
  --clr-primary-2: rgb(0,92,97);
  /* primary/font color */
  --clr-primary-font-1: hsl(0, 0%, 0%);
  --clr-primary-font-2: hsl(0, 8%, 25%);
  --clr-primary-font-3: hsl(0, 0%, 100%);
  /* border color */
  --clr-border: hsl(0, 0%, 0%);
  /* button */
  --clr-button-font:  rgb(4,90,89);
}
/*
=============== 
Global Styles
===============
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-primary-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: var(--clr-primary-1);
  color: white;
  transition: all.5s ease;
  -webkit-appearance: none;

}

.form-button:hover,
.form-button:focus {
  color:var(--clr-button-font);
  background-color: rgb(198, 198, 198);
  
}

.form-button:disabled {
  color: salmon;
  background-color: rgb(96, 96, 96);
  font-size: 0.5rem;
}
